<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Graphical Web Crawler</title>

	    <link rel="stylesheet" href="/css/bootstrap.css" >
	    <link rel="stylesheet" href="/css/bootstrap.min.css" >
	    <link rel="stylesheet" href="/css/site.css" >
        <link rel="stylesheet" href="/css/graph.css">

</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Graphical Crawler</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/graph">Graph</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        {{{body}}}
    </div>

    <div class="footer navbar-fixed-bottom">2016 Graphical Crawler</div>

    

</body>
</html>