<!doctype html>
<body onload="getC()">
<script>


</script>
<div class="jumbotron">
    <h1>Start Crawling</h1>
</div>

<form method="POST" action="http://127.0.0.1:3003/crawl">
    <div class="form-group hidden" id='previous-div'>
        <label>Previous Searches</label>
        <select name="previous" id="previous">
        </select>
        <button type="button" id="previous-button">Select</button>
    </div>
    <div class="form-group">
        <label for="starturl">URL:</label>
        <input type="url" id="starturl" name="starturl" required/>
    </div>
    <div class="form-group">

        <label for="keywords">Keyword:</label>
        <input type="text" id="keyword" name="keywords" />

    </div>
    <div class="form-group">
        <label>Search Type:</label>
        <div class="radio-inline">
            <label>
                <input type="radio" name="searchType" value="DFS" required />
                DFS
            </label>
        </div>
        <div class="radio-inline">
            <label>
                <input type="radio" name="searchType" value="BFS" required checked />
                BFS
            </label>
        </div>
    </div>
    <div class="form-group">
        <label for="depth">Page Limit(1-100):</label>
        <input type="number" id='depth' name="depth" class="form-control" min="1" max="100" required>
    </div>
    <button onclick="cookieFunction()" class="btn btn-primary" type="submit">Submit</button>
	<script>
	
	function cookieFunction() {

		var cookieVal = document.getElementById("starturl").value;
        var startUrl = document.getElementById("starturl").value;
        var keyword = document.getElementById("keyword").value;
        var searchType = getSearchType();
        var searchDepth = document.getElementById("depth").value;
        var searchHistory = getCookie("searchHistory");

        if(searchHistory.length > 1) {
            searchHistory = JSON.parse(searchHistory);
        } else {
            searchHistory = [];
        }

        searchHistory.push({
            startUrl: startUrl,
            keyword: keyword,
            searchType: searchType,
            searchDepth: searchDepth
        });

    	setCookie("startpage", cookieVal, 15);
        setCookie("searchHistory", JSON.stringify(searchHistory), 15);

    }

    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays*24*60*60*1000));
        var expires = "expires="+ d.toUTCString();
        document.cookie = cname + "=" + cvalue + "; " + expires;
    }

    // http://stackoverflow.com/questions/9618504/get-radio-button-value-with-javascript
    function getSearchType() {
        var radios = document.getElementsByName('searchType');
        for (var i = radios.length - 1; i >= 0; i--) {
            if(radios[i].checked) {
                return radios[i].value;
            }
        }
    }

    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for(var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    function getC(){

        var page = getCookie("startpage");

        var searchHistory = getCookie("searchHistory");

        if(searchHistory.length > 1) {
            setSelectOptions(JSON.parse(searchHistory));
            document.getElementById('previous-div').className = 'form-group';
        } else {
            searchHistory = [];
            searchHistory = JSON.stringify(searchHistory);
        }
        // console.log(searchHistory);

    	// console.log(alert(page));
    	document.getElementById("starturl").value = page; 
    }

    //http://stackoverflow.com/questions/8674618/adding-options-to-select-with-javascript
    function setSelectOptions(searchHistory) {
        // console.log(searchHistory);
        var select = document.getElementById("previous");
        for (var i = searchHistory.length - 1; i >= 0; i--) {
            var search = searchHistory[i];
            var option = document.createElement('option');
            option.value = JSON.stringify(search);
            option.innerHTML = selectInnerHtml(search);
            select.appendChild(option);
        }
    }

    function selectInnerHtml(search) {
        var result = search.startUrl;
        if(search.keyword.length > 0) {
            result = result + ', key: "' +search.keyword+ '"'
        }
        result = result + ' depth: ' + search.searchDepth + ' type: ' +search.searchType;
        return result;
    }

        // searchHistory.push({
        //     startUrl: startUrl,
        //     keyword: keyword,
        //     searchType: searchType,
        //     searchDepth: searchDepth
        // });

    var previousButton = document.getElementById("previous-button");

    previousButton.addEventListener('click', function() {
        var previousSearch = document.getElementById('previous').value;
        previousSearch = JSON.parse(previousSearch);

        document.getElementById("starturl").value = previousSearch.startUrl;
        document.getElementById("keyword").value = previousSearch.keyword;
        document.getElementById("depth").value = previousSearch.searchDepth;
        checkSearchRadio(previousSearch);
    }, false);

    function checkSearchRadio(previousSearch) {
        var radios = document.getElementsByName('searchType');
        for (var i = radios.length - 1; i >= 0; i--) {
            if(radios[i].value == previousSearch.searchType) {
                radios[i].checked = true;
            } else {
                radios[i].checked = false;
            }
        }
    }
	</script>
</div>
</body>
