.graph-link {
  fill: none;
  stroke: #999;
  stroke-opacity: .6;
}

.graph-tooltip {	
    position: absolute;			
    text-align: center;						
    height: 22px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightgray;
    border: 0px;		
    border-radius: 7px;					
}

.graph-node {
  z-index: -1;
}